<div class="container">
<nav class="navbar navbar-expand-sm navbar-light bg-light">

    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active ml-1">
                <a class="nav-link btn btn-outline-info" (click)="onGetAllProduct()">All <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ml-1">
                <a class="nav-link btn btn-outline-info" (click)="onGetSelectedProduct()">Selecled</a>
            </li>
            <li class="nav-item ml-1">
                <a class="nav-link btn btn-outline-info" (click)="onGetPromoProduct()">Promo</a>

            </li>
            <li class="nav-item ml-1">
                <a class="nav-link btn btn-outline-info" routerLink="/new-produit">New</a>

            </li>
            
        </ul>
        <form class="form-inline my-2 my-lg-0" #f="ngForm"  (ngSubmit)="onSearchProducts(f.value)">
            <input class="form-control mr-sm-2" name="keyword" type="text" placeholder="Search" ngModel>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<table class="table mt-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Prix</th>
            <th>Quantity</th>
            <th>Selected</th>
            <th>Promo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let produit of produits">
            <td >{{produit.id}}</td>
            <td>{{produit.name}}</td>
            <td>{{produit.prix}}</td>
            <td >{{produit.quantity}}</td>
            <td>{{produit.selected}}</td>
            <td>{{produit.promo}}</td>
            <td>
                <button type="button" class="mr-2" 
                [ngClass]="produit.selected?'btn btn-outline-success':'btn btn-outline-danger'"
                (click)="onSelectProduct(produit,ActionProduit.SELECTED)">
                    <span *ngIf="produit.selected" >Selected</span>
                    <span *ngIf="!produit.selected">UnSelected</span>
                </button>
                <button type="button" class="mr-2" 
                [ngClass]="produit.promo?'btn btn-outline-success':'btn btn-outline-danger'"
                (click)="onSelectProduct(produit,ActionProduit.PROMO)">
                    <span *ngIf="produit.promo" >En Promo</span>
                    <span *ngIf="!produit.promo">Pas Promo</span>
                </button>
                <button class="btn btn-warning  mr-2" >
                  <i class="fa fa-edit    "></i>
                </button>
                <button class="btn btn-danger mr-2" >
                    <i class="fa fa-trash    "></i>
                  </button>
            </td>
        </tr>
        
    </tbody>
</table>
</div>